# ========================
# Secrets & Credentials
# ========================
credentials.pkrvars.hcl
*.secret
*.pem
*.key
.env
.env.*

# ========================
# Packer
# ========================
packer_cache/
*.iso
crash.log

# ========================
# Terraform
# ========================
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.auto.tfvars
!*.example
terraform.lock.hcl

# ========================
# Ansible
# ========================
*.retry

# ========================
# OS & Editor
# ========================
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/
