[defaults]
# Default inventory location
inventory = ./inventory/hosts.yml

# SSH connection settings
remote_user = labadmin
private_key_file = ~/.ssh/id_ed25519

# Security & IaC Quality of Life
# Bypass SSH key host checking (useful when VMs are frequently destroyed/recreated via Terraform)
host_key_checking = False
# Format console output as YAML for better readability
stdout_callback = yaml

# Disable creation of .retry files on playbook failure (clutter)
retry_files_enabled = False

[privilege_escalation]
# Enable privilege escalation (sudo) by default for all tasks
become = True
become_method = sudo
become_user = root
# No password required (NOPASSWD already configured via Packer Cloud-Init)
become_ask_pass = False
